global
    log stdout format raw local0
    maxconn 2048
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend k3s_api
    bind *:6443
    default_backend k3s_api_backend

backend k3s_api_backend
    option tcp-check
    server {{ k3s_control_plane_name }} {{ haproxy_api_backend }}:6443 check inter 3s fall 3 rise 2

{% if haproxy_render_ingress %}
frontend application_http
    bind *:80
    default_backend application_http_backend

backend application_http_backend
    balance roundrobin
    option tcp-check
{% for node_name in haproxy_ingress_backend_nodes %}
    server {{ node_name }} {{ hostvars[node_name].ansible_host }}:80 check inter 3s fall 3 rise 2
{% endfor %}

frontend application_https
    bind *:443
    default_backend application_https_backend

backend application_https_backend
    balance roundrobin
    option tcp-check
{% for node_name in haproxy_ingress_backend_nodes %}
    server {{ node_name }} {{ hostvars[node_name].ansible_host }}:443 check inter 3s fall 3 rise 2
{% endfor %}
{% endif %}

listen local_stats
    bind 127.0.0.1:8404
    mode http
    stats enable
    stats uri /stats
