global
    log stdout format raw local0
    maxconn 2048
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend k3s_api
    bind *:6443
    default_backend k3s_api_backend

backend k3s_api_backend
    option tcp-check
    server server-tang2 {{ haproxy_api_backend }}:6443 check inter 3s fall 3 rise 2

{% if haproxy_enable_ingress %}
frontend application_http
    bind *:80
    default_backend application_http_backend

backend application_http_backend
    option tcp-check
    server server-tang4 {{ haproxy_ingress_backend }}:80 check inter 3s fall 3 rise 2

frontend application_https
    bind *:443
    default_backend application_https_backend

backend application_https_backend
    option tcp-check
    server server-tang4 {{ haproxy_ingress_backend }}:443 check inter 3s fall 3 rise 2
{% endif %}

listen local_stats
    bind 127.0.0.1:8404
    mode http
    stats enable
    stats uri /stats
